@model Ejercicios_propuestos.Models.Cambio
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calmoneda</title>
</head>
<body>
    <div> 
        <h2>@Model.cantidad soles en  @Model.moneda es</h2>

        <h1>@Model.cambio  @Model.moneda</h1>
    </div>
</body>
</html>
