@model Ejercicios_propuestos.Models.ClsOperacion
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OperacionCalcular</title>
</head>
<body>
    <div> 
        <label class="label-default">numero 1</label><br /> @Model.ope <br />
        
        <label class=" alert-danger">resultado</label> @Model.resultado
    </div>
</body>
</html>
